<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="servicestack:license" value="1110-e1JlZjoxMTEwLE5hbWU6TGVhbktpdCxUeXBlOkJ1c2luZXNzLEhhc2g6T2    R6aUdyNGVkMmNrVGNEc3p0N1FCdC9UYk5qaUV6Q2NyQW1vS2RzWkF0cXlsdlIyU    UxtWG5lT1BCMkhCU0N6ekVPRStaV2kwVkkxK0o1WEpYTWZTUGtQZXFoZUNPb2N6    ektsSEZ3NGo5LzhkQnVDWFBKdW5odFUxeGEvNFFQTWIvK29ydEhuK2tXRElTOUZ    TdFJsdVJ5Q2FGR2hMQjFYM0krWG0xWHo5cVRnPSxFeHBpcnk6MjAxNS0wMi0xOX    0="/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
